/*type selector<class selector<ID selector*/
p{
    background-color: antiquewhite;
    color: brown;

}
/*style cho class: class thi dung dau cham*/
.para1{
    text-decoration: underline;
    font-size: 50px;
}
/*style cho id: id thi dung dau #*/
#para2{
    font-size: 20px;
}
a:link{
    color: blue;
}
a:active{
    color: rgb(232, 19, 19);
.pa
}
a:visited{
    color: rgb(22, 234, 191);
}
a:hover{
    color: yellow;
}
h3::first-letter{
    color: red;
}
h3::first-line{
    color: blue;
}
h4:first-child{
    color: blueviolet;
}
div::before{
    content:'insert before';
    background-color: blanchedalmond;
}
div::after{
    content:'insert after';
    background-color: brown;
}