header{
    background-color: rgb(0, 255, 42);
    height: 200px;
}
div{
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 300%;
    color: blue;
    font-weight: bold;
    text-shadow: brown;
    text-shadow:6px 6px 6px rgb(144, 43, 226);
}
nav{
    background-color: rgb(222, 220, 245);
    display: flex;
    justify-content:space-around;
}
nav a{
    text-decoration: none;
    font-weight: bold;
}
.active{
    color: brown;
}
footer{
    font-weight: bold;
    text-align: center;
}
.tran1:hover{
    color: brown;
    text-shadow: 3px 3px 3px brown;
}